<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        <link href="~/styles.css" rel="stylesheet" />
        @RenderSection("head", required: false)
    </head>
    <body>
        @RenderPage("_Menu.cshtml")
        @RenderBody()

        <footer>
            @RenderSection("notes", required: false)
        </footer>
    </body>
</html>
